<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <log4net>

    <!--错误日志类-->
    <logger name="LogSql">
      <level value="DEBUG" />
      <appender-ref ref="AdoNetAppender" />
    </logger>
    <!--操作日志类-->
    <logger name="OperateSql">
      <level value="DEBUG" />
      <appender-ref ref="OperateAppender" />
    </logger>
    <!--信息日志类-->
    <logger name="loginfo">
      <level value="ALL" />
      <appender-ref ref="InfoAppender" />
    </logger>


    <!--信息日志附加介质-->
    <appender name="InfoAppender" type="log4net.Appender.RollingFileAppender">
      <!--文件地址-->
      <param name="File" value="Log\\LogInfo\\" />
      <!--文件追加方式-->
      <param name="AppendToFile" value="true" />
      <!--每个文件的大小-->
      <param name="MaxFileSize" value="10240" />
      <!--同一天最多10个文件，多出的会删除之前同一天下的文件-->
      <param name="MaxSizeRollBackups" value="100" />
      <!--StaticLogFileName的值如果为true，则当前日志文件(相对于历史日志文件而言)的文件名只取File参数。如果为false，则文件名取File+DatePattern。-->
      <param name="StaticLogFileName" value="false" />
      <!--文件命名规则-->
      <param name="DatePattern" value="yyyyMMdd/yyyyMMdd&quot;-TruckInfo.htm&quot;" />
      <!--Composite为Size和Date的组合,只有设置Composite，才能同时按日期分割日志文件，又要按文件大小分割。-->
      <param name="RollingStyle" value="Composite" />
      <!--信息日志布局-->
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="&lt;HR COLOR=blue&gt;%n日志时间：%d [%t] &lt;BR&gt;%n日志级别：%-5p &lt;BR&gt;%n日 志 类：%c [%x] &lt;BR&gt;%n%m &lt;BR&gt;%n &lt;HR Size=1&gt;"  />
      </layout>
    </appender>

    <appender name="OperateAppender" type="log4net.Appender.AdoNetAppender">
      <bufferSize value="1" />
      <connectionType value="System.Data.SqlClient.SqlConnection, System.Data, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      <connectionString value="data source=.;initial catalog=CDWeigh;integrated security=false;persist security info=True;User ID=sa;Password=sa123" />
      <commandText value="INSERT INTO Operation ([Date],[Operator]) VALUES (@log_date, @log_operator)" />

      <!--时间记录-->
      <parameter>
        <parameterName value="@log_date" />
        <dbType value="DateTime" />
        <layout type="log4net.Layout.RawTimeStampLayout" />
      </parameter>
      <!--操作-->
      <parameter>
        <parameterName value="@log_operator" />
        <dbType value="String" />
        <size value="20" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%message" />
        </layout>
      </parameter>

    </appender>
    
    
    <appender name="AdoNetAppender" type="log4net.Appender.AdoNetAppender">
      <bufferSize value="1" />
      <connectionType value="System.Data.SqlClient.SqlConnection, System.Data, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      <connectionString value="data source=.;initial catalog=CDWeigh;integrated security=false;persist security info=True;User ID=sa;Password=sa123" />
      <commandText value="INSERT INTO Log ([Date],[Thread],[Level],[Logger],[Message],[Exception]) VALUES (@log_date, @thread, @log_level, @logger, @message, @exception)" />
      <parameter>
        <parameterName value="@log_date" />
        <dbType value="DateTime" />
        <layout type="log4net.Layout.RawTimeStampLayout" />
      </parameter>
      <parameter>
        <parameterName value="@thread" />
        <dbType value="String" />
        <size value="255" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%thread" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@log_level" />
        <dbType value="String" />
        <size value="50" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%level" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@logger" />
        <dbType value="String" />
        <size value="255" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%logger" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@message" />
        <dbType value="String" />
        <size value="4000" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%message" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@exception" />
        <dbType value="String" />
        <size value="2000" />
        <layout type="log4net.Layout.ExceptionLayout" />
      </parameter>
    </appender>
  </log4net>
</configuration>

